/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.banner-container {
    
    background: rgba(229, 84, 115, 0.10);
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    column-gap: 80px;
    padding: 50px 200px 0 200px;
}
.banner-left{
    margin-bottom: 60px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    width: 520px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}
.banner-btn {
    color: #fff;
    background: #E55473;
    padding: 20px 42px;
    font-size: 20px;
    font-weight:700;
    border: none;
    border-radius: 8px;
}
.banner-image{
    width: 500px;
    height: auto;
    flex-shrink: 0;
}

/* featured section starts here  */
.featured-container{
    margin: 150px 240px 130px;

}

.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.featured-text{
    width: 600px;
    color:rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
}
.features-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 24px;
}

.items-background {
    background-color: rgb(200, 206, 218);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 300px;
    height: 350px;
    position: relative;    
    margin: 45px 0 30px;
}
.background2{
    background:rgb(230, 224, 217);
}
.background3{
    background: rgb(233, 236, 235);
}
.featured-item {
    text-align: center;
}
.featured-item > a{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}
.featured-image{
    width: 220px;
    position: absolute;
    bottom:0;
    left: 40px;
}
